<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="AgregarPrenda()">
    <img [src]="imagenurl" class="mx-auto d-block" alt="foto prenda">
    <input type="file" formControlName="imagenfc" accept="image/x-png,image/jpeg" (change)="CargarImagen($event)">
    <mat-form-field>
      <mat-select placeholder="Categoria" formControlName="idcategoria">
        <mat-option *ngFor="let item of categorias" [value]="item.id"> {{item.nombre}}
        </mat-option>
        <mat-error *ngIf="isFieldInvalid('idcategoria')">
          Escoja una categoria
        </mat-error>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Marca" formControlName="idmarca">
        <mat-option *ngFor="let item of marcas" [value]="item.id"> {{item.nombre}}
        </mat-option>
        <mat-error *ngIf="isFieldInvalid('idmarca')">
          Escoja una marca
        </mat-error>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Color" formControlName="idcolor">
        <mat-option *ngFor="let item of colores" [value]="item.id"> {{item.nombre}}
        </mat-option>
        <mat-error *ngIf="isFieldInvalid('idcolor')">
          Escoja un color
        </mat-error>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Talla" formControlName="idtalla">
        <mat-option *ngFor="let item of tallas" [value]="item.id"> {{item.nombre}}
        </mat-option>
        <mat-error *ngIf="isFieldInvalid('idtalla')">
          Escoja una talla
        </mat-error>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Genero" formControlName="idgenero">
        <mat-option *ngFor="let item of generos" [value]="item.id"> {{item.nombre}}
        </mat-option>
        <mat-error *ngIf="isFieldInvalid('idgenero')">
          Escoja un genero
        </mat-error>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" formControlName="cantidad" placeholder="Cantidad">
      <mat-error *ngIf="isFieldInvalid('cantidad')">
        Ingrese una cantidad
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" formControlName="precio" placeholder="Precio">
      <mat-error *ngIf="isFieldInvalid('precio')">
        Ingrese el precio
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button class="text-white" mat-button color="primary" (click)="Cerrar()" >Cancelar</button>
      <mat-divider style="margin: 10px;" [vertical]="true"></mat-divider>
      <button class="text-white" mat-button color="primary" type="submit">Agregar</button>
    </div>
  </form>
</mat-dialog-content>
<!--<mat-dialog-actions>
  <span fxFlex></span>
  <button class="text-white" mat-button color="primary" [mat-dialog-close]="false">Cancerlar</button>
  &lt;!&ndash; The mat-dialog-close directive optionally accepts a value as a result for the dialog. &ndash;&gt;
  <button class="text-white" mat-button color="primary" [mat-dialog-close]="true">Agregar</button>
</mat-dialog-actions>-->
